<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{jobNotificationSubscription.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{jobNotificationSubscription.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/jobNotificationSubscriptions}" class="btn btn-secondary">[[#{jobNotificationSubscription.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('jobNotificationSubscription')}" />
            <form th:action="${requestUri}" method="post" novalidate="">
                <div th:replace="~{fragments/forms::inputRow(object='jobNotificationSubscription', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='jobNotificationSubscription', field='recipientEmail', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='jobNotificationSubscription', field='notifyOn', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='jobNotificationSubscription', field='createdAt', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='jobNotificationSubscription', field='updatedAt', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='jobNotificationSubscription', field='job', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='jobNotificationSubscription', field='template', required=true, type='select')}" />
                <input type="submit" th:value="#{jobNotificationSubscription.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
